.bigtext {
  font-size: 100px;
  margin-top: -30px;
  font-weight: bold;
}

.title {
  font-size: 32px;
  margin-bottom: 0px;
}

.noSidePadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.score-adjust-buttons {
  margin-top: -40px;
  width: 90%;
}

.score-adjust-button {
  font-weight: bold !important;
}
