.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(160deg, #cfe9cf 0%, #148a14 100%);
  margin: 0px;
}

.containers {
  padding: 15px;
}

.space {
  margin-bottom: 10px;
}

.h-80 {
  height: 80%;
}